{{>header}}
 <section class="container content-section">
		<h2 class="section-header">CART</h2>
		<div class="cart-row">
			<span class="cart-item cart-header cart-column">ITEM</span>
			<span class="cart-price cart-header cart-column">PRICE</span>
			<span class="cart-quantity cart-header cart-column">QUANTITY</span>
		</div>
		<div class="cart-items">
		</div>
		<div class="cart-total">
			<strong class="cart-total-title">Total</strong>
			<span class="cart-total-price">Rs. 0</span>
		</div>
		<button class="btn btn-primary btn-purchase" type="button">PURCHASE</button>
	</section>


	 <section class="container content-section">
    <h2 class="section-header">CART</h2>
  <table class="table">
  <thead>
    <tr style="text-align:justify;">
      <th scope="col">PRODUCT</th>
      <th scope="col">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CATEGORY</th>
      <th scope="col">PRICE</th>
      <th scope="col">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;QUANTITY</th>
    </tr>
  </thead>
  {{!-- <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td></td>
    </tr>
  </tbody> --}}
</table>

 

    {{!-- <div class="cart-row">
      <span class="cart-product cart-header cart-column">PRODUCT</span>
      <span class="cart-category cart-header cart-column">CATEGORY</span>
      <span class="cart-price cart-header cart-column">PRICE</span> 
      <span class="cart-quantity cart-header cart-column">QUANTITY</span>
    </div> --}}
   
    <div class="cart-items">
    </div>
    <div class="cart-total">
      <strong class="cart-total-title">Total</strong>
      <span class="cart-total-price">Rs. 0</span>
    </div>
    <button class="btn btn-primary btn-purchase" type="button">PURCHASE</button>
  </section>
{{>footer}}