<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>e-super Market Website</title>

  <!--
    - favicon
  -->
  <link rel="shortcut icon" href="./assets/images/logo/grocery.png" type="image/x-icon">

  <!--
    - custom css link
  -->
  <link rel="stylesheet" href="./style.css">

  <!--
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
</head>

<body>
{{>header}}
        
<h1 style="text-align: center;">All Cart Item</h1>
<table class="table table-bordered  table-success table-striped border border-info table-striped-columns text-center">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Category</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
    </tr>
  </thead>  
  <tbody>   
    {{#each results}}
    <tr>
      <td scope="row"></td>
      <td>"{{this.title}}"</td>
      <td>{{this.category}}</td>
      <td>{{this.price}}</td>
      <td>{{this.quantity}}</td>
    </tr>  
      {{/each}}
 
  </tbody>
</table>
{{>footer}}