<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>e-super Market Website</title>

  <!--
    - favicon
  -->
  <link rel="shortcut icon" href="./assets/images/logo/grocery.png" type="image/x-icon">

  <!--
    - custom css link
  -->
  <link rel="stylesheet" href="./style.css">

  <!--
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
</head>

<body>
{{>header}}
 
  <form action="/auth/login" class="login-form" method="post">
        <h3>Login Now</h3>

 {{#if msg}}
        <p class="{{msg_type}}" id="good">{{msg}}</p>
        {{/if}}
       
        <input type="email" placeholder="Enter Your Emaild" class="box" name="email">
        <input type="password" placeholder="Enter Your Password" class="box" name="password">
    {{!-- <p>Forget Your Password<a href="/forgotpwd">Clickhere</a></p> --}}
    <p>Don't have an account</p>
    <div class="login-btn">
         <button  class="btn btn-primary btn-form"><a href="/createaccount" >Createnow</a></button>
         <input type="submit" value="Login" class="btn btn-primary btn-form">        
    </div>
       
    </form>
{{>footer}}