<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>e-super Market Website</title>

  <!--
    - favicon
  -->
  <link rel="shortcut icon" href="./assets/images/logo/grocery.png" type="image/x-icon">

  <!--
    - custom css link
  -->
  <link rel="stylesheet" href="./style.css">

  <!--
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
</head>
<body>


{{>header}}

 <div class="profile-container">
    <div class="profile-wrap">
        <h1>NAME :</h1>
        <h1 class="profile">{{data.name}}</h1>
    </div>
    
    <div class="profile-wrap">  
        <h1>EMAIL :</h1>
        <h1 class="profile">{{data.email}}</h1>
    </div>
</div>
{{>footer}}