<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Document</title>
</head>
<body class="has-scrollbar" style="background-color: rgb(164, 249, 249);color: black;font-size: 1rem;padding: 5px;">
    <div class="has-scrollbar" style="background-color: antiquewhite;min-width: 200px;min-height: 500px;padding: 5px;">   
        <h1 >Thanks for purchasing in YP e-super Market</h1>
        <h1>Collect the <strong>Discount Coupons</strong> in Our store Located in Punjai Puliampatti.</h1>
        <h1>Eat Food and take healthy life</h1>
        <img src="./assets/images/logo/favicongif.gif" width="350px"  height="350px" alt="gif">
    </div>
</body>
</html>
